!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => author, :name => "author"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "template.scss"))}
    %title= title
  %body
    = content
