@import "bourbon";

$base-background-colour: #ffffff;
$base-font-size: 16px;
$base-foreground-colour: #000000;
$base-line-height: 24px;
$base-link-colour: #0000ff;
$base-layout-unit: $base-line-height;
$content-width: 600px;

body {
  background-color: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 "Helvetica Neue", "Helvetica", Arial, sans-serif;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  -webkit-font-smoothing: antialiasing;
  margin: em($base-layout-unit * 2, $base-font-size) auto;
  max-width: em($content-width, $base-font-size);
  -webkit-text-size-adjust: 100%;
  @media screen and (max-width: em($content-width, $base-font-size)) {
    font-size: percentage(($base-font-size * 0.875) / $base-font-size); } }

a {
  color: $base-link-colour;
  &:active, &:focus, &:hover, &:visited:hover {
    background-color: $base-link-colour;
    color: $base-background-colour; }
  &:visited {
    background-colour: $base-background-colour;
    color: $base-link-colour; } }

h1 {
  $font-size: 32px;
  margin: 0;
  font-size: em($font-size, $base-font-size);
  line-height: 1; }

h2 {
  $font-size: 24px;
  font-size: em($font-size, $base-font-size);
  margin: em($base-line-height, $font-size) 0 0 0; }

p {
  margin: em($base-line-height / 2, $base-font-size) 0 0 0; }

ul {
  list-style: square;
  margin: em($base-line-height / 2, $base-font-size) 0
      0 em($base-line-height, $base-font-size);
  padding: 0;
  & > * {
    margin: 0;
    padding: 0; 
    & > ul {
      margin: 0 0 0 em($base-line-height, $base-font-size); } } }
