!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => author, :name => "author"}
    %meta{:content => "initial-scale=1.0, width=device-width", "name" => "viewport"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "template.scss"))}
    %title= title
  %body
    %nav
      %hr
      %a{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
      &rarr;
      %a{:href => "https://www.robotinaponcho.net/notes/"} <span>Damien's </span>Notes
    = content
    %script= `uglifyjs template.js -c --inline-script -m`
