$base-background-colour: #151515;
$base-foreground-colour: #d0d0d0;
$base-header-colour: #ddb26f;
$base-line-height: 1.5rem;
$base-link-colour: #6fc2ef;
$base-secondary-background-colour: #202020;
$content-width: 37.5rem;
$header-font-stack: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

body {
  background: $base-background-colour;
  color: $base-foreground-colour;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: $base-line-height;
  margin: $base-line-height * 2 auto;
  max-width: $content-width;
  padding: 0 $base-line-height * 2;
  @media screen and (max-width: $content-width) {
    margin: $base-line-height / 2;
    padding: 0; } }

a {
  color: $base-link-colour;
  text-decoration: none;
  &:active, &:focus, &:hover, &:visited:hover {
    text-decoration: underline; } }

code {
  line-height: 1rem; }

footer {
  font-style: italic;
  margin: $base-line-height * 2 0 0 0;
  text-align: center;
  hr {
    display: none; } }

h1 {
  color: $base-header-colour;
  font-family: $header-font-stack;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0; }

h2 {
  color: $base-header-colour;
  font-family: $header-font-stack;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: $base-line-height 0 0 0; }

h3 {
  font-family: $header-font-stack;
  font-size: 1rem;
  line-height: 1rem;
  margin: $base-line-height / 2 0 0 0; }

html {
  font-size: 100%;
  @media screen and (max-width: $content-width) {
    font-size: 87.5%; } }

p {
  margin: $base-line-height / 2 0 0 0; }

ol {
  margin: $base-line-height / 2 0 0 $base-line-height;
  padding: 0;
  & > * {
    margin: 0;
    padding: 0;
    & > ul {
      margin: 0 0 0 $base-line-height; } } }

ul {
  list-style: square;
  margin: $base-line-height / 2 0 0 $base-line-height;
  padding: 0;
  body > &:first-of-type {
    background: $base-secondary-background-colour;
    list-style: none;
    margin: $base-line-height / 2 0 0 0;
    padding: $base-line-height / 2; }
  & > * {
    margin: 0;
    padding: 0;
    & > ul {
      margin: 0 0 0 $base-line-height; } } }
