@import "bourbon";

$base-background-colour: #ffffff;
$base-font-size: 16px;
$base-foreground-colour: #000000;
$base-line-height: 24px;
$base-link-colour: #0000ff;
$base-layout-unit: $base-line-height;
$content-width: 600px;

body {
  background: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 $georgia;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  margin: em($base-layout-unit * 2, $base-font-size) auto;
  max-width: em($content-width, $base-font-size);
  padding: 0 em($base-layout-unit * 2, $base-font-size);
  @media screen and (max-width: em($content-width, $base-font-size)) {
    font-size: 87.5%;
    margin: em($base-layout-unit / 2, $base-font-size);
    padding: 0; } }

a {
  color: $base-link-colour;
  &:active, &:focus, &:hover, &:visited:hover {
    background-color: $base-link-colour;
    color: $base-background-colour; }
  &:visited {
    background-colour: $base-background-colour;
    color: $base-link-colour; } }

code {
  background: darken($base-background-colour, 12.5%); }

h1 {
  $font-size: 32px;
  $line-height: $font-size;
  font-family: $helvetica;
  font-size: em($font-size, $base-font-size);
  line-height: em($line-height, $font-size);
  margin: 0; }

h2 {
  $font-size: 24px;
  $line-height: $font-size;
  font-family: $helvetica;
  font-size: em($font-size, $base-font-size);
  line-height: em($line-height, $font-size);
  margin: em($base-line-height, $font-size) 0 0 0; }

h3 {
  $font-size: $base-font-size;
  $line-height: $base-line-height;
  font-family: $helvetica;
  font-size: em($font-size, $base-font-size);
  line-height: em($line-height, $font-size);
  margin: em($base-line-height / 2, $font-size) 0 0 0; }

p {
  margin: em($base-line-height / 2, $base-font-size) 0 0 0; }

ol {
  margin: em($base-line-height / 2, $base-font-size) 0
      0 em($base-line-height, $base-font-size);
  padding: 0;
  & > * {
    margin: 0;
    padding: 0;
    & > ul {
      margin: 0 0 0 em($base-line-height, $base-font-size); } } }

ul {
  list-style: square;
  margin: em($base-line-height / 2, $base-font-size) 0
      0 em($base-line-height, $base-font-size);
  padding: 0;
  body > &:first-of-type {
    background: darken($base-background-colour, 12.5%);
    list-style: none;
    margin: em($base-line-height / 2, $base-font-size) 0 0 0;
    padding: em($base-line-height / 2, $base-font-size); }
  & > * {
    margin: 0;
    padding: 0;
    & > ul {
      margin: 0 0 0 em($base-line-height, $base-font-size); } } }
